<div class="tabs is-boxed">
  <ul>
    <li class="is-active"
        data-tab-target="panel"
        data-target="comments"
        data-action="click->tab#switch">
      <a>コメント</a>
    </li>

    <li data-tab-target="panel"
        data-target="memo"
        data-action="click->tab#switch">
      <a>メモ</a>
    </li>
  </ul>
</div>