/*
 *= require_tree .
 *= require_self
 */


.notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image{
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}