/*
 *= require_tree .
 *= require_self
 */


.notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image{
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.main-image {
  height: 940px;
  background-image: url(meal.png);
  background-repeat: none;
  background-size: contain;
}

.control.has-icons-left .input {
  height: 2.5em;
}

.control.has-icons-left .icon {
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}