/*
 *= require_tree .
 *= require_self
 */


.notification:not(:last-child){
	margin-bottom: 0;
}

.profile_image{
  width: 200px;
  height: 200px;
  margin: 0 auto;

  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-small {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.header_avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;

  display: block;
  margin-top: 7px; /* ← ここで微調整 */
}

.media-left .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.main-image {
  height: 940px;
  background-image: url(meal.png);
  background-repeat: none;
  background-size: contain;
}

.control.has-icons-left .input {
  height: 2.5em;
}

.control.has-icons-left .icon {
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

.box {
  margin-bottom: 1rem;
}

.comment-content {
  position: relative;
}

.comment-delete {
  position: absolute;
  bottom: 0;
  right: 0;
}

.is-hidden {
  display: none;
}

.control.has-icons-right .password-toggle {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;              /* ← これが超重要 */
  pointer-events: auto;
  background: none;
  border: none;
  cursor: pointer;
}

.search-form {
  max-width: 500px;
  margin: 0 auto;
}

.recipe-body {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* column内でカードを同じ高さにする */
.columns.is-multiline {
  display: flex;
  flex-wrap: wrap;
}

.column.is-4 {
  display: flex;
}

/* カードを縦方向flexにする */
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* card-contentを伸ばす */
.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* 本文部分を伸縮エリアにする */
.recipe-body {
  flex-grow: 1;
}